body {
    background-color:rgba(218, 218, 218);
}
.nav {
    list-style-type: none;
    margin: 0px;
    display: flex;
    position: sticky;
    top: 0;
    margin-left: -30px;
    flex-wrap: wrap;
    width: auto;
}
.nav li {
    background-color:rgba(218, 218, 218);
    width: 20%;
}
.nav li a {
  display: block;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 21px;
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;
  color: rgba(32, 31, 36);
}
.nav li a:hover {
    color:  rgba(7, 35, 72);
    text-shadow: 2px 2px 4px  rgb(144, 154, 172);
}
.nav li a:active {
    color: rgba(136, 151, 177);
}
.photo {
    background-image: url(cake.png);
    background-size: cover;
    height: 700px;
    position: relative;
    margin-top: -100px;
    margin-left: -8px;
    margin-right: -7px;
    z-index: -1;
}
.photo .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.photo .text h1{
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: rgba(97, 6, 3);
}

.container .row {
    display: flex;
    margin: 20px 40px;
}

.container .row .card{
    width: calc((100%-200)/4);
    margin: 20px;
    border-radius: 11px;
}

.container .row .card img {
    width: 100%;
    height: 420px
}
.container .row .card p {
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    color: rgba(44, 62, 88);
}

.container .row .card a {
    display: block;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    color: rgba(45, 94, 100);
    text-decoration: none;
    margin-bottom: 10px;
}
.container .row .card a:hover {
    color: rgba(231, 57, 38);
}
.footer-area {
    display: flex;
    justify-content: center;
    background-color: rgb(171, 120, 70);
    flex-direction: column;
    padding: 40px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -20px;
    margin-top: 40px;
}
.footer-area div h4 {
    margin: 6px;
    text-align: center;
    font-size: 25px;
}
.icons {
    display: flex;
    justify-content: center;
}
.icons a {
    margin: 10px;
    color: wheat;
}

li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

table {
    border: solid black 2px ;
    
    border-collapse: collapse;
}
table tr th {
    border: solid  black 2px ;
    border-collapse: collapse;
    width: auto;
    margin: auto;
    text-align: center;
    padding: 5px;
    color: rgba(97, 6, 3);
    font-size: 23px;
}
table tr td {
    border: solid black 2px ;
    text-align: center;
    width: auto;
    margin: auto;
    border-collapse: collapse;
    padding: 5px;
    font-size: 19px;
}
.first {
   background-color: rgba(214, 196, 186);
}
.second {
    background-color: rgba(191, 199, 211);
}
.tables {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.tables .tab1 ,.tables .tab2 {
    width: 412px;
    margin-left: 50px;
    margin-right: 50px ;
    margin-top: 50px;
}

  


  @media only screen and (max-width: 768px) {
      .container .row {
        display: flex;
        margin: 20px 40px;
        flex-wrap: wrap;
      }
      .container .row .card {
          width: 284px;
      }
  }
  @media only screen and (max-width: 425px){
    .footer-area {
        width: 90%;
        margin-right: 0px;
    }
    .photo {
        width: 100%;
        margin-right: -300px;
    }


    .nav {
        list-style-type: none;
        margin: 0px;
        display: flex;
        
        
        margin-left: -30px;
        justify-content: center;
        flex-direction: column;
    }
    .nav li {
        background-color:RGBA( 0, 0, 0, 0 );
        width: 100%;
    }
    .nav li a {
      display: block;
      text-align: center;
      padding: 20px 16px;
      text-decoration: none;
      font-size: 21px;
      font-weight: bolder;
      font-family: 'Times New Roman', Times, serif;
      color: RGBA( 128, 0, 0, 1 );
    }
    .nav li a:hover {
        color:  rgba(7, 35, 72);
        text-shadow: 2px 2px 4px  rgb(144, 154, 172);
        background-color:rgba(241,241,241);
    }
    .nav li a:active {
        color: rgba(136, 151, 177);
    }
    .photo {
        margin-top: -400px;
        margin-right: -200px;
        width: 100%;
    }
    .photo .text {
        margin-top: 200px;
    }
    .tables {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .tables .tab1 ,.tables .tab2 {
        width: 112px;
        margin-left: 0px;
        margin-right: 30px ;
        margin-top: 50px;
    }
    
  }
